.showcase__title-wrapper {
  background-color: #f1f1f1;
  height: 177px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.showcase__title {
  font-family: 'Open Sans Bold';
  font-size: 28px;
}
